⚠ ATTENTION ⚠

Sachez que les règles peuvent évoluer à tout moment, malgré cela vous devez les connaître.

Règles de Base :

Pas de Freekill (Tuer une personne sans raison RP valable).

Pas de Prop-block (Prendre un prop, et empêcher le passage au niveau d'une porte, du spawn, etc...).

Quand on utilise une fading-door et qu’il n’y a pas un keypad de chaque côté de cette porte, ceci est considéré comme un Prop-block.

Pas de Prop-climb (Prendre un prop et s'en servir comme escalier pour aller dans un endroit inaccessible normalement).

Pas de Freedemote (Rétrograder une personne sans raison RP valable).

Vous pouvez démote uniquement pour une raison RP et selon un ordre hiérarchique (commissaire/policier, parrain/mafieu...)

Respecter la New Life Rule ("Règle Nouvelle Vie" : quand vous êtes mort, vous ne vous souvenez plus de votre ancienne vie)

Pas de Spam (Ne pas invoquer des Props, des cordes ou des text screens à la chaîne)

Pas d'insulte /OOC, vous devez respecter les autres joueurs.

Pas de Metagaming.

Pas de HRP vocal.

Interdiction d'exploiter des bugs, use bug = ban permanent

Vous devez respecter le Fear RP

Faites preuve de bon sens et pensez à ce que vous feriez dans la vraie vie dans les scènes RP.

Règles du jeu :

Jouer RolePlay et respecter les scènes RolePlay.

Vous devez avoir un nom RolePlay (Prénom et Nom).

Il est interdit de choisir un nom RP créant un jeu de mot obscène, ou un nom RP controversé ou attisant la haine. Aucun nom politique français ou étranger n'est autorisé.

Ne pas abuser du micro et ne pas s’en servir pour diffuser de la musique (utilisez les radios).

Vous ne pouvez pas construire dehors en ville, il y a assez de magasins et logements disponibles.

Pas d'affiche (Text Screen) insultant.

Vous n'avez pas le droit de faire un crime ou un délit (cambrioler, tuer, voler, racketter, prise d'otage) si il n'y a pas de forces de l'ordre dans la partie.

Vous n'avez pas le droit de mettre une porte (ou fading door) directement sur une autre (le double-porte).

Une personne qui construit est immunisée contre toutes les attaques, cependant elle doit clairement l’annoncer à l'entrée de sa construction et celle-ci ne doit pas durer plus de 15 minutes.

Vous ne pouvez marquer "En construction" sur votre maison que si vous êtes vraiment en train de construire : si vous printez ou que vous exercez votre métier, vous perdez votre immunité.

Vous n'avez pas le droit de tuer le Maire sans raison.

Lorsqu'une personne est à terre : si le Docteur la réanime, la règle du NLR ne s'applique pas.

Vous n'avez pas le droit de changer d'apparence en pleine scène RolePlay.

Il est interdit de prendre en otage un Restaurateur s’il est le seul présent.

Les joueurs AFK ne peuvent pas être la cible de vols, braquage, meurtres etc.

Si vous êtes armé, avant d'abattre un joueur, vous devez d'abord effectuer des tirs de sommation (sauf si votre vie est en péril).

Il est interdit de créer des forteresses (c'est à dire des murailles d'objets, avec ou sans meurtrière) à la fois à l'extérieur et à l'intérieur.

En cas d'incendie vous devez évacuer les lieux pour laisser les pompiers faire leur travail. La fumée et le feu tuent.

Vous n'avez pas le droit de donner plus de 50 000 dollars à un joueur sans raison valable.

Quand vous êtes mort en maire, il vous est strictement interdit de vous représenter aux prochaines élections.

Le travers (tirer à travers) est autorisé uniquement dans les portes en bois et les vitres où on voit des deux côtés. Il est aussi autorisé pour les props ou on voit des deux côtés (ex:grillage).

Il vous est interdit d'appeler les secours chez vous pour les prendre en otage ou les braquer.

Il vous est interdit de braquer le médecin pour ne pas payer les frais médicaux.

Vous n'avez pas le droit d'insulter, de menacer ou de braquer le médecin pour obtenir des soins plus rapidement.

Pour les métiers qui peuvent posséder des véhicules de fonction, si votre véhicule de fonction a été volé, vous pouvez le récupérer au NPC.

Seul le banquier est autorisé à printer légalement.

Vous n'avez pas le droit de ranger votre arme dans votre inventaire en action RP, veuillez attendre 15 minutes après celle ci avant de le faire.

Respecte bien les règles aussi non tu te prend un BAN !!!
