⚠ ATTENTION ⚠

Sachez que les règles peuvent évoluer à tout moment, malgré cela vous devez les connaître.

Règles de Base :

Pas de Freekill (Tuer une personne sans raison RP valable).

Pas de Prop-block (Prendre un prop, et empêcher le passage au niveau d'une porte, du spawn, etc...).

Quand on utilise une fading-door et qu’il n’y a pas un keypad de chaque côté de cette porte, ceci est considéré comme un Prop-block.

Pas de Prop-climb (Prendre un prop et s'en servir comme escalier pour aller dans un endroit inaccessible normalement).

Pas de Freedemote (Rétrograder une personne sans raison RP valable).

Vous pouvez démote uniquement pour une raison RP et selon un ordre hiérarchique (commissaire/policier, parrain/mafieu...)

Respecter la New Life Rule ("Règle Nouvelle Vie" : quand vous êtes mort, vous ne vous souvenez plus de votre ancienne vie)

Pas de Spam (Ne pas invoquer des Props, des cordes ou des text screens à la chaîne)

Pas d'insulte /OOC, vous devez respecter les autres joueurs.

Pas de Metagaming.

Pas de HRP vocal.

Interdiction d'exploiter des bugs, use bug = ban permanent

Vous devez respecter le Fear RP

Faites preuve de bon sens et pensez à ce que vous feriez dans la vraie vie dans les scènes RP.

Règles du jeu :

Jouer RolePlay et respecter les scènes RolePlay.

Vous devez avoir un nom RolePlay (Prénom et Nom).

Il est interdit de choisir un nom RP créant un jeu de mot obscène, ou un nom RP controversé ou attisant la haine. Aucun nom politique français ou étranger n'est autorisé.

Ne pas abuser du micro et ne pas s’en servir pour diffuser de la musique (utilisez les radios).

Vous ne pouvez pas construire dehors en ville, il y a assez de magasins et logements disponibles.

Pas d'affiche (Text Screen) insultant.

Vous n'avez pas le droit de faire un crime ou un délit (cambrioler, tuer, voler, racketter, prise d'otage) si il n'y a pas de forces de l'ordre dans la partie.

Vous n'avez pas le droit de mettre une porte (ou fading door) directement sur une autre (le double-porte).

Une personne qui construit est immunisée contre toutes les attaques, cependant elle doit clairement l’annoncer à l'entrée de sa construction et celle-ci ne doit pas durer plus de 15 minutes.

Vous ne pouvez marquer "En construction" sur votre maison que si vous êtes vraiment en train de construire : si vous printez ou que vous exercez votre métier, vous perdez votre immunité.

Vous n'avez pas le droit de tuer le Maire sans raison.

Lorsqu'une personne est à terre : si le Docteur la réanime, la règle du NLR ne s'applique pas.

Vous n'avez pas le droit de changer d'apparence en pleine scène RolePlay.

Il est interdit de prendre en otage un Restaurateur s’il est le seul présent.

Les joueurs AFK ne peuvent pas être la cible de vols, braquage, meurtres etc.

Si vous êtes armé, avant d'abattre un joueur, vous devez d'abord effectuer des tirs de sommation (sauf si votre vie est en péril).

Il est interdit de créer des forteresses (c'est à dire des murailles d'objets, avec ou sans meurtrière) à la fois à l'extérieur et à l'intérieur.

En cas d'incendie vous devez évacuer les lieux pour laisser les pompiers faire leur travail. La fumée et le feu tuent.

Vous n'avez pas le droit de donner plus de 50 000 dollars à un joueur sans raison valable.

Quand vous êtes mort en maire, il vous est strictement interdit de vous représenter aux prochaines élections.

Le travers (tirer à travers) est autorisé uniquement dans les portes en bois et les vitres où on voit des deux côtés. Il est aussi autorisé pour les props ou on voit des deux côtés (ex:grillage).

Il vous est interdit d'appeler les secours chez vous pour les prendre en otage ou les braquer.

Il vous est interdit de braquer le médecin pour ne pas payer les frais médicaux.

Vous n'avez pas le droit d'insulter, de menacer ou de braquer le médecin pour obtenir des soins plus rapidement.

Pour les métiers qui peuvent posséder des véhicules de fonction, si votre véhicule de fonction a été volé, vous pouvez le récupérer au NPC.

Seul le banquier est autorisé à printer légalement.

Vous n'avez pas le droit de ranger votre arme dans votre inventaire en action RP, veuillez attendre 15 minutes après celle ci avant de le faire.

Respecte bien les règles aussi non tu te prend un BAN !!!

Métier légaux :	
 
Police nationale :​ 
 

* Vous pouvez contrôler, arrêter et fouiller une personne.​ 
 
* Vous pouvez avec un mandat fouiller une habitation ou un local.​ 
 
* Vous pouvez mettre des amendes.​ 
 
* Vous participez au maintien de l'ordre public.​ 
 
* Votre arme de service ne doit être utilisée qu'en dernier recours.​ 
 
* Vous ne participez pas aux interventions du R.A.I.D.​ ​  
 
 
​
R.A.I.D :​ 
 
 
En tant que R.A.I.D, vous intervenez dans de grosses affaires telles que les prise d'otages, braquages, gros délit de fuite etc. 	Vous n'êtes ni supérieurs ni inférieurs à un policier national vous n'avez juste pas la même fonction.​


* Vous intervenez après l'appel de la police nationale ou la BAC.​ 
 
* Votre but est de protéger les civils qui seraient pris en otage.​ 
 
* Vous pouvez décider de négocier ou lancer l'assaut après avoir étudié la situation.​ 
 
* Vous ne faites pas le travail d'un policier municipal, national ou encore la B.A.C.​
 
* Votre arme de service ne doit être utilisée qu'en dernier recours.​
 
* Vous êtes sous les ordres du chef
 
​   
CHEF R.A.I.D​ : 
 
 
Comment votre nom l'indiques vous contrôlez votre équipe. À vous de décider quand et comment lancer un assaut.

* Vous intervenez après l'appel de la police nationale ou la BAC.​ 
 
* Votre but est de protéger les civils qui seraient pris en otage.​ 
 
* Vous pouvez décider de négocier ou lancer l'assaut après avoir étudié la situation.​ 
 
* Votre arme de service ne doit être utilisée qu'en dernier recours.​ 
 
* Vous ne faites pas le travail d'un policier municipal, national ou encore la B.A.C.​ ​  
 
 

Commissaire :​ 
 
 
Vous êtes le chef de la police municipale, nationale et la B.A.C. à vous de vous faire respecter et de faire en sorte que le travail soit fait correctement.​

* Vous pouvez contrôler, arrêter et fouiller une personne.​ 
 
* Vous pouvez avec un mandat fouiller une habitation ou un local.​ 
 
* vous pouvez mettre des amendes.​
 
* Vous faites du maintien à l'ordre public.​
 
* Vous ne participez pas aux interventions du R.A.I.D.​
 
* Votre arme de service ne doit être utilisée qu'en dernier recours.​
 
* A vous de donner les missions à vos troupes.​ ​  
 
 
​
Juge :​ 
 
 
Une fois que les malfrats sont arrêtés à vous de juger si le dossier est conforme pour envoyer ou non une personne en prison. À vous de décider de la sentence !​

* Vous n'êtes pas un policier !​
 
* Vous n'intervenez pas sur le terrain !​
 
* Vous jugez en votre âme et conscience les accusés en respectant la présomption d'innocence.​ 
 
 
​   
​
Garde du Maire :
​ 
 
 
Vous n'êtes pas policiers, vous n'avez donc pas à interférer dans leur travail. Votre rôle est protéger le maire et uniquement le maire.​

* Votre arme de service ne doit être utilisée qu'en dernier recours.​ 
 
* Vous n'interférez pas avec le travail de la police.​ 
 
* Vous protégez uniquement le maire.​ 
 
* Un policier est supérieur à vous.​ 
 
 
​   
​
Maire :​ 
 
 
Vous êtes le Premier Magistrat de la ville. À vous de choisir votre politique et de la faire respecter. Vous commandez les forces de l'ordre en globalité. Néanmoins, en cas de prise d'otage, c'est le chef du R.A.I.D qui commande.​
* Vous avez le droit à 15 minutes d'immunité après votre élection (Sauf si vous avez commencé        votre politique).​ 
 
* Vos lois doivent respecter les règles du serveur.​ 
 
* Il est interdit d'ordonner des purges.​ 
 
* Vous n'avez pas le droit de vie ou de mort sur les joueurs du serveur sans raison valable.​ 
 
 
​   
           Métier Illégaux :    


Voleur :

* Vous n'avez pas le droit de braquer ou de racketter les joueurs.​ 
 
* Vous pouvez être engagé pour faire du crochetage de porte, ou autre mais ne pouvez rester          participer à l'action​ 
 
* Il est interdit de voler un joueur venant de se connecter, de réapparaître, étant AFK ou en train    de construire.​
 
* Si vous êtes repéré, vous devez disparaître.​ 
 
 
 
Tueur à gage :​ 
 

* Votre client doit avoir une raison RP pour demander un contrat, vous devez lui demander avant      d'accepter en cas de litige vous pourrez être tenu responsable.​ 
 
* Vous n'avez pas le droit de braquer ou de racketter un joueur.​ 
 
 
 
Trafiquant :​ 
 
 
* Vous n’avez pas le droit de faire partie d’une Mafia ou d’un Gang, ni de participer à leurs              activités. Vous devez être disponible pour tous les joueurs.​ 
 
* Vous avez le droit de vendre vos armes à l'extérieur à condition de rester discret et de quitter le    lieu de vente une fois la transaction effectuée.​ 
 
 
 
Dealer de Drogue :​ 
 
 
Le Dealer de Drogue doit rester neutre et disponible pour tous les joueurs. Il est interdit de rejoindre un Gang ou une Mafia ou de participer à leurs activités.​ 


 
* Vous devez vendre les produits nécessaires à la mafia ou aux gangsters mais une fois la vente      terminée, vous devez quitter les lieux.​ ​  
 
 
​
Fabricant de meth :​ 
 
 
Vous n'avez pas le droit de vous allier à un gang.​ ​  
 
 
​
Mercenaire :​ 
 
 
Vous n'êtes pas tueur à gages, vous travaillez pour le plus offrant mais ne pouvez pas être engagé pour tuer.​ 


 
* L'assassinat est votre ultime recours.​ 
 
 
 
Psychopathe :​ 
 
 
* Vous n'avez pas le droit aux armes à feux, vous devez tuer à l'arme blanche pour faire souffrir      votre victime.​ 
 
* Vous ne pouvez pas prendre en otage ou racketter.​ 
 
* Vous devez attendre 10 minutes entre chaque meurtre.​ ​  
 
 
​
S.D.F :​ 
 
 
* Vous n'avez pas le droit d'avoir une maison.​ 
 
* Votre construction dans la rue doit refléter votre situation.​ ​  
 
 
​
Métier Gangs :​  
  
Un racket ne peut dépasser 100$ et une rançon ne peut dépasser 2000$ par otage ou 10000$ pour le maire.​
Aucune alliance n'est réalisable avec un autre corps de métier, hors voleur.
Les gangs ne peuvent pas se tirer dessus à vue si la guerre n'a pas été déclarée.
Si vous n'obtenez pas ce que vous demandez, préférez la menace ou la force à l'exécution sommaire.
Vous devez attendre au moins 20 minutes entre deux actions illégales.​
Vous devez agir dans l'ombre et pas à la vue de tout le monde.​

Vous n'avez pas le droit de déclarer de guerre contre les forces de l'ordre, sauf en cas de dictature si les policiers se font trop envahissants. Vous n'avez donc jamais le droit de les abattre à vue.​





Mafia : 
* Vous êtes une organisation criminelle discrète. Vous gérez un empire du crime.​ 
* Vous n'avez pas le droit de braquer ou de prendre en otage les joueurs.​ 
* Vous pouvez racketter les commerçants en échange de votre protection. Si le                         commerçant ne respecte pas votre contrat ou vous dénonce, vous pouvez détruire leur         commerce et les menacer, les tuer discrètement si ils ne cèdent pas.​ 
* Vous n'avez pas le droit de vous rebeller contre le parrain.​ 

 
 
Gangsters:​ 
 
 
​* Vous pouvez braquer, racketter ou prendre en otage sans restrictions autre que les règles du        serveur.​* Vous pouvez vous rebeller contre le boss. Pour cela, vous devez être 3 gangsters et forcer le          boss à démissionner ou bien le tuer et lancer une rétrogradation.​


Triade :​ 
 
 
​* Vous êtes sans foi ni loi, vous ne pensez qu'à vos intérêts personnels.​* Vous pouvez braquer, racketter ou prendre en otage les joueurs sans restrictions autres que les    règles du serveur.​
* Vous pouvez vous rebeller contre votre chef. Pour cela, vous devez être 3 triades et forcer le          chef à démissionner ou le tuer et lancer une rétrogradation.​



Métier Service :  
​

Pompier :​ 
 
​
Vous ne pouvez ignorer l'appel d'un joueur.​
Vous pouvez vous mettre en grève. En revanche, vous n'avez jamais le droit de ne pas intervenir sur un incendie.​

Vous avez le droit de devenir pompier le temps d'éteindre un feu pour reprendre ensuite votre ancien métier si et seulement si vous n’êtes pas engagé dans une action RP.​



Banquier :​ 
 
​
Le banquier doit rester neutre et disponible pour tous les joueurs.​
Vous devez rester dans votre banque le plus possible.​



Médecin :​ 
 
​
Il vous est interdit de soigner les gens dans la rue sauf si ces derniers sont grièvement blessés.​
Vous devez rester dans un hôpital ou un cabinet privé.​



Garagiste :

Vous travaillez exclusivement dans un garage.

Vous pouvez louer les services du gardien de fourrière pour qu'il vous amène les véhicules en panne.​

Vous n'avez pas le droit de réparer un véhicule qui fume ou qui serait en panne sans l'accord du propriétaire. Il vous est donc interdit de réparer les véhicules garés sur les parkings et qui sembleraient en panne.​

Vous n'avez pas le droit de réparer les voitures dans la rue.​



Gardien de fourrière :
 
Vous travaillez pour la police ou le garagiste.

Vous n'avez pas le droit de remorquer sans l'accord d'un policier un véhicule qui serait mal garé.

Pour remorquer un véhicule en panne vous devez avoir l'accord du propriétaire.

Les véhicules immobilisés sont ramenés à la fourrière.

Les véhicules en panne sont ramenés au garagiste.



Garde du corps :
 
Vous ne travaillez pas pour le maire qui a son propre service de sécurité.​
Vous devez obéir aux ordres des personnes que vous protégez.​

Vous n’avez pas le droit de participer aux activités d’une Mafia ou d’un Gang et d'assurer la protection d’un de ses membres.​

Transporteur routier :
 
Il vous est strictement interdit de vendre votre camion si vous êtes poursuivi par la police. Vous pouvez néanmoins essayer de prendre la fuite.​

Chauffeur de bus : 

Vous devez suivre votre parcours et ne pas vous arrêter à la demande des joueurs.

Chauffeur de taxi :

Il vous est strictement interdit de refuser de transporter une personne sauf si celle-ci est agressive ou porte une arme.​

Architecte :

Vous êtes là pour créer des constructions pour votre employeur uniquement.

Gérant de cinéma :

Vous n'avez pas le droit de mettre des vidéos illégales ou interdites aux mineurs (pornographiques etc...)​

Avocat :
 
Vous défendez les accusés.​
Vous pouvez ouvrir un cabinet mais devez rester aux alentours du tribunal et disponible pour les procès.​

Journaliste :
 
Les règles de base s'appliquent.​

Secrétaire du maire :
 
Vous devez vous occuper de l'agenda du maire et prendre ses rendez-vous​

DJ : 

Les règles de base s'appliquent.

Gérant de casino :
 

Il vous est interdit de bloquer l'accès au casino.​
Vous veillez à la bonne tenue de votre établissement.​



Vous pouvez proposer divers services de restauration, vente de boissons etc...​ 
 
 

 
Restaurateur :
 
Vous n’avez pas le droit d’arnaquer un joueur.
Vous n’avez pas le droit de faire partie d’un Gang ou d’une Mafia, ni de participer à leurs activités.
Vous n'avez pas le droit d'être le restaurateur personnel d'une personne ou d'un groupe de personne.
Vous devez obligatoirement avoir un restaurant et y rester le plus possible pour vendre votre nourriture
Vous n’avez pas le droit d’être AFK en tant que restaurateur.

Marchand d’Armes :
 
Vous êtes un vendeur d'armes de poings légales, sauf si les lois en décident autrement.
Vous devez obligatoirement posséder un magasin pour vendre vos armes.
Vous n’avez pas le droit de faire partie d’un Gang ou d’une Mafia, ni de participer à leurs activités.
Vous ne pouvez refuser une vente à quelqu'un sans raison valable.
Vous n’avez pas le droit d’arnaquer un joueur.

Barman :
 
Les règles de base s'appliquent.



Vendeur de vêtements :
 
Vous devez avoir un magasin pour vendre vos vêtements.
