⚠ ATTENTION ⚠

Règles de Base :

°Pas de Freekill (Tuer une personne sans raison RP valable).

°Pas de Prop-block (Prendre un prop, et empêcher le passage au niveau d'une porte, du spawn, etc...).

°Pas de Prop-climb (Prendre un prop et s'en servir comme escalier pour aller dans un endroit inaccessible normalement).

°Pas de Freedemote (Rétrograder une personne sans raison RP valable).

°Respecter la New Life Rule ("Règle Nouvelle Vie" : quand vous êtes mort, vous ne vous souvenez plus de votre ancienne vie).

°Pas de Spam (Ne pas invoquer des Props, des cordes ou des text screens à la chaîne).

°Pas d'insulte /OOC, vous devez respecter les autres joueurs.

°Pas de Metagaming.

°Pas de HRP vocal.

°Interdiction d'exploiter des bugs, use bug = ban 1 semaine.

°Vous devez respecter le Fear RP.

°Faites preuve de bon sens et pensez à ce que vous feriez dans la vraie vie dans les scènes RP.
